@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Lato:wght@400;700&display=swap');
@import "tailwindcss";

:root {
  --blue: #377DFF;
  --green: #38CB89;
  --yellow: #FFAB00;
  --red: #FF5630;
  --brand: #000000;
}

body {
  background-color: white;
}

@theme {

  /* Text Styles */
  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;

  /* Color Styles */
  

  --breakpoint-2xl: 1440px;
}

@layer components {

  .hero {
    @apply text-[96px] leading-[96px] -tracking-[0.02em] font-poppins font-medium;
  }

  .h1 {
    @apply text-[80px] leading-[84px] -tracking-[3px] font-poppins font-medium;
  }

  .h2 {
    @apply text-[72px] leading-[76px] -tracking-[2px] font-poppins font-medium;
  }

  .h3 {
    @apply text-[54px] leading-[58px] -tracking-[1px] font-poppins font-medium;
  }

  .h4 {
    @apply text-[40px] leading-[44px] -tracking-[0.4px] font-poppins font-medium;
  }

  .h5 {
    @apply text-[34px] leading-[38px] -tracking-[0.6px] font-poppins font-medium;
  }

  .h6 {
    @apply text-[28px] leading-[34px] -tracking-[0.6px] font-poppins font-medium;
  }

  .h7 {
    @apply text-[20px] leading-[28px] -tracking-[0] font-poppins font-medium;
  }

  .body-1 {
    @apply text-[20px] leading-[32px] -tracking-[0] font-inter font-normal;
  }

  .body-1-semi {
    @apply text-[20px] leading-[32px] -tracking-[0] font-inter font-semibold;
  }

  .body-1-bold {
    @apply text-[20px] leading-[32px] -tracking-[0] font-inter font-bold;
  }

  .body-2 {
    @apply text-[16px] leading-[26px] -tracking-[0] font-inter font-normal;
  }

  .body-2-semi {
    @apply text-[16px] leading-[26px] -tracking-[0] font-inter font-semibold;
  }

  .body-2-bold {
    @apply text-[16px] leading-[26px] -tracking-[0] font-inter font-bold;
  }

  .caption-1 {
    @apply text-[14px] leading-[22px] -tracking-[0] font-inter font-normal;
  }

  .caption-1-semi {
    @apply text-[14px] leading-[22px] -tracking-[0] font-inter font-semibold;
  }

  .caption-1-bold {
    @apply text-[14px] leading-[22px] -tracking-[0] font-inter font-bold;
  }

  .caption-2 {
    @apply text-[12px] leading-[20px] -tracking-[0] font-inter font-normal;
  }

  .caption-2-semi {
    @apply text-[12px] leading-[20px] -tracking-[0] font-inter font-semibold;
  }

  .caption-2-bold {
    @apply text-[12px] leading-[20px] -tracking-[0] font-inter font-bold;
  }

  .hairline-1 {
    @apply text-[16px] leading-[16px] -tracking-[0] font-inter font-bold;
  }

  .hairline-2 {
    @apply text-[12px] leading-[12px] -tracking-[0] font-inter font-bold;
  }

  .btn-xl {
    @apply text-[26px] leading-[38px] -tracking-[0] font-inter font-medium;
  }

  .btn-l {
    @apply text-[22px] leading-[34px] -tracking-[0] font-inter font-medium;
  }

  .btn-m {
    @apply text-[18px] leading-[32px] -tracking-[0] font-inter font-medium;
  }

  .btn-s {
    @apply text-[16px] leading-[28px] -tracking-[0] font-inter font-medium;
  }

  .btn-xs {
    @apply text-[14px] leading-[24px] -tracking-[0] font-inter font-medium;
  }
}