@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  /*------------COLORS------------*/
  /*-Primary-*/
  --brand: #000000;
  /*--Secondary--*/
  --blue: #377DFF;
  --green: #38CB89;
  --yellow: #FFAB00;
  --red: #FF5630;
  --black-900: #121212;
  --black-600: #605F5F;
  /*---Neutral---*/
  --neutral-1-100: #FEFEFE;
  --neutral-1-95: #FEFEFE5F;
  --neutral-1-20: #FEFEFE14;
  --neutral-1-10: #FEFEFE0A;

  --neutral-2-100: #F3F5F7;
  --neutral-2-50: #F3F5F732;

  --neutral-3-100: #E8ECEF;
  --neutral-3-75: #E8ECEF4B;
  --neutral-3-50: #E8ECEF32;

  --neutral-4-100: #6C7275;
  --neutral-4-75: #6C72754B;
  --neutral-4-50: #6C727532;
  --neutral-4-25: #6C727519;
  --neutral-4-15: #6C72750F;

  --neutral-5-100: #343839;
  --neutral-5-50: #34383932;

  --neutral-6-100: #232627;
  --neutral-6-95: #2326275F;
  --neutral-6-90: #232627FA;
  --neutral-6-50: #23262732;

  --neutral-7-100: #141718;
  --neutral-7-95: #1417185F;
  --neutral-7-50: #14171832;
}

body {
  background-color: white;
}

::-webkit-scrollbar {
  display: none;
}

@theme {

  /* ------------FONT FAMILY------------*/
  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-space-grotesk: 'Space Grotesk', sans-serif;

  /*------------COLORS------------*/
  /*-Primary-*/
  --color-brand: var(--brand);

  /*--Secondary--*/
  --color-blue: var(--blue);
  --color-green: var(--green);
  --color-yellow: var(--yellow);
  --color-red: var(--red);

  /*---Neutral---*/
  --color-n1100: var(--neutral-1-100);
  --color-n195: var(--neutral-1-95);
  --color-n120: var(--neutral-1-20);
  --color-n110: var(--neutral-1-10);

  --color-n2100: varn2100;
  --color-n250: var(--neutral-2-50);

  --color-n3100: var(--neutral-3-100);
  --color-n375: var(--neutral-3-75);
  --color-n350: var(--neutral-3-50);

  --color-n4100: var(--neutral-4-100);
  --color-n475: var(--neutral-4-75);
  --color-n450: var(--neutral-4-50);
  --color-n425: var(--neutral-4-25);
  --color-n415: var(--neutral-4-15);

  --color-n5100: var(--neutral-5-100);
  --color-n550: var(--neutral-5-50);

  --color-n6100: var(--neutral-6-100);
  --color-n695: var(--neutral-6-95);
  --color-n690: var(--neutral-6-90);
  --color-n650: var(--neutral-6-50);

  --color-n7100: var(--neutral-7-100);
  --color-n795: var(--neutral-7-95);
  --color-n750: var(--neutral-7-50);

  --color-black900: var(--black-900);
  --color-black600: var(--black-600);

  
  /*------------BREAKPOINTS------------*/
  --breakpoint-2xl: 1440px;

  /*------------Shadows------------*/
  --shadow-line: inset 0 -1px 0 var(--color-n7100);
  --shadow-1: 0 8px 16px 0;
}

/*------------HERO------------*/
@utility hero {
  @apply text-[96px] leading-[96px] -tracking-[0.02em] font-poppins font-medium;
}

/*------------HEADINGS------------*/
@utility h1 {
  @apply text-[80px] leading-[84px] -tracking-[3px] font-poppins font-medium;
}

@utility h2 {
  @apply text-[72px] leading-[76px] -tracking-[2px] font-poppins font-medium;
}

@utility h3 {
  @apply text-[54px] leading-[58px] -tracking-[1px] font-poppins font-medium;
}

@utility h4 {
  @apply text-[40px] leading-[44px] -tracking-[0.4px] font-poppins font-medium;
}

@utility h5 {
  @apply text-[34px] leading-[38px] -tracking-[0.6px] font-poppins font-medium;
}

@utility h6 {
  @apply text-[28px] leading-[34px] -tracking-[0.6px] font-poppins font-medium;
}

@utility h7 {
  @apply text-lg leading-[28px] -tracking-[0] font-poppins font-medium;
}

/*------------BADGES------------*/
@utility badges {
  @apply text-[18px] leading-[18px] tracking-[0] font-inter font-bold
}

/*------------BODY------------*/
@utility body-1 {
  @apply text-xl leading-[32px] -tracking-[0] font-inter font-normal;
}

@utility body-1-semi {
  @apply text-xl leading-[32px] -tracking-[0] font-inter font-semibold;
}

@utility body-1-bold {
  @apply text-xl leading-[32px] -tracking-[0] font-inter font-bold;
}

@utility body-2 {
  @apply text-base leading-[26px] -tracking-[0] font-inter font-normal;
}

@utility body-2-semi {
  @apply text-base leading-[26px] -tracking-[0] font-inter font-semibold;
}

@utility body-2-bold {
  @apply text-base leading-[26px] -tracking-[0] font-inter font-bold;
}

/*------------CAPTION------------*/
@utility caption {
  @apply text-sm leading-[24px] tracking-[0] font-poppins font-normal
}
@utility caption-1 {
  @apply text-sm leading-[22px] -tracking-[0] font-inter font-normal;
}

@utility caption-1-semi {
  @apply text-sm leading-[22px] -tracking-[0] font-inter font-semibold;
}

@utility caption-1-bold {
  @apply text-sm leading-[22px] -tracking-[0] font-inter font-bold;
}

@utility caption-2 {
  @apply text-xs leading-[20px] -tracking-[0] font-inter font-normal;
}

@utility caption-2-semi {
  @apply text-xs leading-[20px] -tracking-[0] font-inter font-semibold;
}

@utility caption-2-bold {
  @apply text-xs leading-[20px] -tracking-[0] font-inter font-bold;
}

/*------------HAIRLINES------------*/
@utility hairline-1 {
  @apply text-base leading-[16px] -tracking-[0] font-inter font-bold;
}

@utility hairline-2 {
  @apply text-xs leading-[12px] -tracking-[0] font-inter font-bold;
}

/*------------BUTTON------------*/
@utility btn-xl {
  @apply text-[26px] leading-[38px] -tracking-[0] font-inter font-medium;
}

@utility btn-l {
  @apply text-[22px] leading-[34px] -tracking-[0] font-inter font-medium;
}

@utility btn-m {
  @apply text-lg leading-[32px] -tracking-[0.4px] font-inter font-medium;
}

@utility btn-s {
  @apply text-base leading-[28px] -tracking-[0.4px] font-inter font-medium;
}

@utility btn-xs {
  @apply text-sm leading-[24px] -tracking-[0] font-inter font-medium;
}

@layer base {
  h1 {
    @apply text-[80px] leading-[84px] -tracking-[3px] font-poppins font-medium;
  }

  h2 {
    @apply text-[72px] leading-[76px] -tracking-[2px] font-poppins font-medium;
  }

  h3 {
    @apply text-[54px] leading-[58px] -tracking-[1px] font-poppins font-medium;
  }

  h4 {
    @apply text-[40px] leading-[44px] -tracking-[0.4px] font-poppins font-medium;
  }

  h5 {
    @apply text-[34px] leading-[38px] -tracking-[0.6px] font-poppins font-medium;
  }

  h6 {
    @apply text-[28px] leading-[34px] -tracking-[0.6px] font-poppins font-medium;
  }

  button {
    @apply cursor-pointer
  }
}